.container {
  display: flex;
  /* gap: 15px; */
  justify-content: space-between;
  /* max-width: 1280px; */
  height: 40px;
  align-items: center;
  /* margin: 0 auto; */
  padding: 0 2em;
  font-size: 8px;
}

header {
  /* width: 100%; */
  border-bottom: 1px solid lightblue;
}

@media screen and (min-width: 375px) {
  .container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    /* max-width: 1280px; */
    height: 40px;
    align-items: center;
    /* margin: 0 auto; */
    padding: 0 2em;
    font-size: 10px;
  }

  header {
    /* width: 100%; */
    border-bottom: 1px solid lightblue;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    max-width: 1280px;
    height: 60px;
    align-items: center;
    margin: 0 auto;
    padding: 0 2em;
  }
}
