.container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  max-width: 1280px;
  height: 60px;
  align-items: center;
  margin: 0 auto;
}

header {
  width: 100%;
  border-bottom: 1px solid lightblue;
}
