span {
  color: red;
  position: absolute;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto 0;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}
