/* .container {
    display: flex;
    flex-direction: column;
    align-items: start;
} */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin: 0 auto;
  gap: 20px;
}

span {
  color: red;
  position: absolute;
}
